<div class="details">
  <div class="box">
    <h2 class="h2">{{ "ABOUT_US.OBJECTIVES" | translate }}</h2>
  </div>
  <div class="boxgeneral">
    <div class="box2">
      <img
        height="30"
        src="https://img.icons8.com/papercut/60/monitor.png"
        alt="monitor"
      />
      <img />
      <h3 class="h3">{{ "ABOUT_US.COMPANY_TITLE_1" | translate }}</h3>
      <p>
        {{ "ABOUT_US.COMPANY_DETAIL_1" | translate }}
      </p>
    </div>
    <div class="box2">
      <img
        height="30"
        src="https://img.icons8.com/papercut/60/monitor.png"
        alt="monitor"
      />
      <img />
      <h3 class="h3">{{ "ABOUT_US.COMPANY_TITLE_1" | translate }}</h3>
      <p>
        asdasdsadasdasdsa
      </p>
    </div>

    <div class="box2">
      <img
        height="30"
        src="https://img.icons8.com/papercut/60/monitor.png"
        alt="monitor"
      />
      <img />
      <h3 class="h3">{{ "ABOUT_US.COMPANY_TITLE_1" | translate }}</h3>
      <p>
        {{ "ABOUT_US.COMPANY_DETAIL_1" | translate }}
      </p>
    </div>
  </div>
</div>
