<div class="details">
  <div class="box">
    <h2 class="h2">{{ "ABOUT_US.OBJECTIVES" | translate }}</h2>
    <p class="p-principal">
      {{ "ABOUT_US.OBJECTIVES_TEXT" | translate }}
    </p>
  </div>
  <div class="boxgeneral">
    <div class="box2">
      <img
        height="40"
        src="https://img.icons8.com/material-outlined/40/339AF0/monitor.png"
        alt="monitor"
      />
      <h3 class="h3">{{ "ABOUT_US.COMPANY_TITLE_1" | translate }}</h3>
      <p>
        {{ "ABOUT_US.COMPANY_DETAIL_1" | translate }}
      </p>
    </div>
    <div class="box2">
      <img
        height="40"
        src="https://img.icons8.com/ios/40/339AF0/guarantee--v1.png"
        alt="guarantee--v1"
      />
      <h3 class="h3">{{ "ABOUT_US.COMPANY_TITLE_2" | translate }}</h3>
      <p>
        {{ "ABOUT_US.COMPANY_DETAIL_2" | translate }}
      </p>
    </div>

    <div class="box2">
      <img
        height="40"
        src="https://img.icons8.com/ios/40/339AF0/collaboration.png"
        alt="collaboration"
      />
      <h3 class="h3">{{ "ABOUT_US.COMPANY_TITLE_3" | translate }}</h3>
      <p>
        {{ "ABOUT_US.COMPANY_DETAIL_3" | translate }}
      </p>
    </div>
  </div>
</div>
