<div class="details">
  <div class="box">
    <h2 class="h2">Nuestros objetivos</h2>
    <p class="p-principal">
      Nosotros no somos simplemente una compañía de desarrollo de software,
      somos un grupo de mentes creativas e innovadoras, apasionadas por
      convertir tu visión en una realidad tangible. Nuestro compromiso es
      transformar tus ideas en soluciones prácticas y efectivas. Somos más que
      un equipo, somos tus socios en el viaje hacia el éxito.
    </p>
  </div>
  <div class="boxgeneral">
    <div class="box2">
      <img
      height="30"
        src="https://img.icons8.com/papercut/60/monitor.png"
        alt="monitor"
      />
      <img />
      <h3 class="h3">Empresa 100% digital</h3>
      <p>
        Somos una empresa totalmente enfocada en el mundo digital. Nuestra
        dedicación a la gestión de procesos digitales no solo mejora la
        eficiencia, sino que también reduce drásticamente la necesidad de papel
        y recursos físicos.
      </p>
    </div>
    <div class="box2">
      <img
      height="30"
        src="https://img.icons8.com/papercut/60/monitor.png"
        alt="monitor"
      />
      <img />
      <h3 class="h3">Empresa 100% digital</h3>
      <p>
        Somos una empresa totalmente enfocada en el mundo digital. Nuestra
        dedicación a la gestión de procesos digitales no solo mejora la
        eficiencia, sino que también reduce drásticamente la necesidad de papel
        y recursos físicos.
      </p>
    </div>

    <div class="box2">
      <img
      height="30"
        src="https://img.icons8.com/papercut/60/monitor.png"
        alt="monitor"
      />
      <img />
      <h3 class="h3">Empresa 100% digital</h3>
      <p>
        Somos una empresa totalmente enfocada en el mundo digital. Nuestra
        dedicación a la gestión de procesos digitales no solo mejora la
        eficiencia, sino que también reduce drásticamente la necesidad de papel
        y recursos físicos.
      </p>
    </div>
  </div>
</div>
