.sponsor {
  display: flex;
  padding: 3rem 2rem;
}

.sponsor__left-titulo {
  color: var(--primary-color);
  font-family: "Poppins", Sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 50px;
}

.sponsor__left,
.sponsor__rigth {
  width: 50%;
  padding: 10px;
}

.sponsor__left-patrocinador {
  color: var(--primary-color);
}

.sponsor__left-button {
  background-color: var(--primary-color);
  border-radius: 15px 15px 15px 15px;
  padding: 22px 40px 22px 40px;
  color: #fff;
  font-family: "Poppins", Sans-serif;
  font-weight: 700;
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
}

.sponsor__left-parrafo {
  margin: 1rem 0 2rem;
}

@media screen and (max-width: 1160px) {
  .sponsor {
    flex-direction: column-reverse;
  }
  .sponsor__left,
  .sponsor__rigth {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .sponsor__rigth {
    display: none;
  }
}
