<div class="sponsor">
  <div class="sponsor__left">
    <h3 class="sponsor__left-patrocinador">
      {{ "SPONSOR.SUBTITLE" | translate }}
    </h3>
    <h2 class="sponsor__left-titulo">{{ "SPONSOR.TITLE" | translate }}</h2>
    <p class="sponsor__left-parrafo">
      {{ "SPONSOR.DESCRIPTION" | translate }}
    </p>
    <div class="sponsor__left-button" (click)="goContact()">
      {{ "SPONSOR.BUTTON" | translate }}
    </div>
  </div>
  <div class="sponsor__rigth">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/ZyOK_ive_3U?si=wl_7K-SGwWXRwkYQ&amp;controls=0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>
