<div class="details" id="services">
  <div class="box">
    <h2 class="h2">{{ "SERVICE.TITLE_LIST" | translate }}</h2>
  </div>
  <div class="boxgeneral">
    <div class="box2">
      <img
        height="40"
        src="https://img.icons8.com/ios/50/596FFB/laptop-settings--v1.png"
        alt="laptop-settings--v1"
      />
      <div>
        <h3 class="h3">
          {{ "SERVICE.LIST_TITLE_1" | translate }}
        </h3>
        <p>
          {{ "SERVICE.LIST_DETAIL_1" | translate }}
        </p>
      </div>
    </div>
    <div class="box2">
      <img
        height="40"
        src="https://img.icons8.com/ios/50/596FFB/consultation.png"
        alt="consultation"
      />
      <h3 class="h3">{{ "SERVICE.LIST_TITLE_2" | translate }}</h3>
      <p>
        {{ "SERVICE.LIST_DETAIL_2" | translate }}
      </p>
    </div>

    <div class="box2">
      <img
        height="40"
        src="https://img.icons8.com/ios/50/596FFB/web.png"
        alt="web"
      />
      <h3 class="h3">{{ "SERVICE.LIST_TITLE_3" | translate }}</h3>
      <p>
        {{ "SERVICE.LIST_DETAIL_3" | translate }}
      </p>
    </div>
    <div class="box2">
      <img
        height="40"
        src="https://img.icons8.com/ios-glyphs/50/596FFB/google-mobile.png"
        alt="google-mobile"
      />
      <h3 class="h3">{{ "SERVICE.LIST_TITLE_4" | translate }}</h3>
      <p>
        {{ "SERVICE.LIST_DETAIL_4" | translate }}
      </p>
    </div>
  </div>
</div>
