<div class="contenedor">
  <div>
    <img class="img" src="../../../assets/icons/people1.jpg" />
  </div>
  <div class="div_inferior">
    <h2 class="h2">Quienes somos?</h2>
    <div>
      <p class="p">
        En NoTech, nuestra pasión es la innovación y la excelencia tecnológica.
        Nos esforzamos por crear soluciones personalizadas que se adapten
        perfectamente a sus objetivos y desafíos. Nuestro compromiso es
        transformar sus ideas en resultados concretos que impulsen su
        crecimiento y mejoren su rendimiento.
      </p>
      <br />
      <p class="p">
        Nos destacamos en la satisfacción de sus necesidades específicas,
        ofreciendo una amplia gama de servicios y soluciones digitales de
        vanguardia. Nuestra extensa experiencia en el mercado respalda cada
        proyecto que emprendemos, y lo abordamos con un alto nivel de dedicación
        y profesionalismo.
      </p>
      <br />
      <p class="p">
        Valoramos profundamente nuestra responsabilidad social y nuestro impacto
        en la comunidad. Creemos firmemente que el éxito empresarial debe ir de
        la mano de la sostenibilidad, y estamos constantemente buscando formas
        de generar un impacto positivo en nuestro entorno y en la sociedad en
        general.
      </p>
    </div>
    <div></div>
  </div>
</div>
