<div class="contenedor">
  <div class="contenedor__img">
    <img class="img" src="../../../assets/icons/people1.jpg" />
  </div>
  <div class="div_inferior">
    <h2 class="h2">{{ "ABOUT_US.TITLE" | translate }}</h2>
    <div class="div_inferior-box">
      <div class="div_inferior-boxInternal">
        <p class="p">
          {{ "ABOUT_US.P1" | translate }}
        </p>
        <br />
        <p class="p">
          {{ "ABOUT_US.P2" | translate }}
        </p>
        <br />
        <p class="p">
          {{ "ABOUT_US.P3" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
