<div class="footer">
  <div class="footer__texts">
    <div class="footer__texts-grup">
      <div>
        <div class="footer__imagenes">
          <img
            class="footer__imagenes-img"
            src="../../../assets/icons/notechblack.png"
          />
        </div>
        <p>contacto.notech@gmail.com</p>
      </div>

      <div class="footer__partes">
        <div class="services">
          <h2 class="h2">{{ "NAV.SERVICES" | translate }}</h2>
          <p class="p" (click)="navigateToService('services')">
            {{ "SERVICE.LIST_TITLE_1" | translate }}
          </p>
          <p class="p" (click)="navigateToService('services')">
            {{ "SERVICE.LIST_TITLE_2" | translate }}
          </p>
          <p class="p" (click)="navigateToService('services')">
            {{ "SERVICE.LIST_TITLE_3" | translate }}
          </p>
          <p class="p" (click)="navigateToService('services')">
            {{ "SERVICE.LIST_TITLE_4" | translate }}
          </p>
        </div>
      </div>

      <div class="footer__partes">
        <h2 class="h2">{{ "NAV.PRODUCTS" | translate }}</h2>
        <p class="p" (click)="navigateToProduct('producto1')">Swift Flex Bank</p>
        <p class="p" (click)="navigateToProduct('producto2')">
          Bomberos voluntarios
        </p>
        <p class="p" (click)="navigateToProduct('producto3')">
          AutoMarket
        </p>
      </div>
    </div>
    <div class="footer__div">
      <p class="footer__div-p">Copyright ©2024 | All rights reserved.</p>
    </div>
  </div>
</div>
