<div class="footer">
  <div class="footer__texts">
    <div class="footer__texts-grup">
      <div>
        <div class="footer__imagenes">
          <img
            class="footer__imagenes-img"
            src="../../../assets/icons/notechblack.png"
          />
        </div>
        <p>contacto@gmail.com</p>
      </div>

      <div class="footer__partes">
        <h2>{{ "NAV.SERVICES" | translate }}</h2>
      </div>

      <div class="footer__partes">
        <h2>{{ "NAV.PRODUCTS" | translate }}</h2>
      </div>
    </div>
    <div class="footer__div">
      <p class="footer__div-p">Copyright ©2023 | All rights reserved.</p>
    </div>
  </div>
</div>
