.footer {
  min-height: 10rem;
  background-color: var(--box-color);
  color: var(--color-text-gray);
  border-radius: 3rem 3rem 0 0;
  font-weight: bold;
}

.footer__imagenes-img {
  height: 40px;
  margin: 0 0.3rem;
}

.footer__texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.footer__texts-grup {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1rem 0;
}
.footer__div {
  border-top: solid 1px #d8d8d8;
  padding: 2rem 1rem 0rem;
}

.footer__texts-grup-notech {
  height: 1.3rem;
  margin: 1rem 0;
}
.h2{
  color: #54595f;
}
.p{
  font-weight: normal;
}
@media screen and (max-width: 480px) {
  .footer__texts-grup {
    flex-direction: column;
    text-align: center;
  }
  .contacto_parrafo {
    display: none;
  }
  .footer__imagenes {
    margin: 1rem 0;
  }
  .footer__partes{
    display: none;
  }
}
