<div class="details">
  <div class="details__images">
    <img
      src="../../../assets/icons/4188494.png"
      alt="img"
      class="details__images-img"
    />
  </div>
  <div class="details__funcionamiento">
    <h2 class="details__funcionamiento-tittle">
      {{ "DETAILS.TITLE" | translate }}
    </h2>

    <div class="details__funcionamiento-box">
      <img
        src="https://img.icons8.com/color/48/cell-phone.png"
        alt="cell-phone"
        class="details__funcionamiento-box-descripcion-icons"
      />
      <div class="details__funcionamiento-box-descripcion">
        <h3 class="details__funcionamiento-box-title">
          <strong>{{
            "DETAILS.DESCRIPTION.TITLE_CONECTION" | translate
          }}</strong>
        </h3>
        <p>{{ "DETAILS.DESCRIPTION.DESCRIPTION_CONECTION" | translate }}</p>
      </div>
    </div>

    <div class="details__funcionamiento-box">
      <img
        src="https://img.icons8.com/ios-glyphs/30/000000/developer.png"
        alt="developer"
        class="details__funcionamiento-box-descripcion-icons"
      />
      <div class="details__funcionamiento-box-descripcion">
        <h3 class="details__funcionamiento-box-title">
          <strong
            >{{ "DETAILS.DESCRIPTION.TITLE_SETTINGS" | translate }}
          </strong>
        </h3>
        <p>{{ "DETAILS.DESCRIPTION.DESCRIPTION_SETTINGS" | translate }}</p>
      </div>
    </div>

    <div class="details__funcionamiento-box">
      <img
        src="https://img.icons8.com/emoji/48/rocket-emji.png"
        alt="rocket-emji"
        class="details__funcionamiento-box-descripcion-icons"
      />
      <div class="details__funcionamiento-box-descripcion">
        <h3 class="details__funcionamiento-box-title">
          <strong>{{ "DETAILS.DESCRIPTION.TITLE_MORE" | translate }}</strong>
        </h3>
        <p>{{ "DETAILS.DESCRIPTION.DESCRIPTION_MORE" | translate }}</p>
      </div>
    </div>
  </div>
</div>
