<div class="bussines">
  <div class="bussines__contenedor">
    <div class="bussines__principal">
      <h1 class="bussines__principal-title">
        {{ "BUSINESS.TITLE" | translate }}
      </h1>
      <p>
        {{ "BUSINESS.DESCRIPTION" | translate }}
      </p>
      <div>
        <p></p>
      </div>
    </div>

    <div class="bussines__principal">
      <div>
        <img class="img" src="../../../assets/icons/phone.png" />
      </div>
    </div>
  </div>
  <div class="bussines__inferior">
    <app-products></app-products>
    <app-pricing></app-pricing>
  </div>
</div>
