<div class="details">
    <div class="details__funcionamiento">
      <h2 class="details__funcionamiento-tittle">Bomberos Santa Catalina</h2>
  
      <p class="details-parrafo"> 
        Alarm Geo Fire te brinda la tranquilidad que necesitas en situaciones de
        emergencia. Ofreciendo una versión gratuita y una versión de pago para
        adaptarse a tus necesidades.
      </p>
    </div>
    <div class="details__images">
      <img
        src="../../../assets/icons/bomberos.png"
        alt="img"
        class="details__images-img"
      />
    </div>
  </div>
  