<div class="comunidad fade-in">
  <div class="comunidad__contenedor">
    <div class="comunidad__principal">
      <h1 class="comunidad__principal-title">
        {{ "COMUNITY.TITLE" | translate }}
      </h1>
      <p>{{ "COMUNITY.DESCRIPTION" | translate }}</p>
    </div>

    <div class="comunidad__principal">
      <img
       class="comunidad__principal-imagenes"
        src="https://cdn4.iconfinder.com/data/icons/generic-users-essentials-colored/48/JD-44-512.png"
      />
    </div>
  </div>
  <div class="comunidad__inferior">
    <app-cards-testimonials></app-cards-testimonials>
    <app-new-testimonials></app-new-testimonials>
  </div>
</div>
